body {
    padding-top: 10px;

     width: 100%;
}

./*input-form {
    margin-top:20px;
}

.date-form {
    float:right;
    
    font-size: 0.9em;
    z-index:10;
    margin-top:5px;
}

    .date-form input {
        font-size: 0.9em;
        color: brown;
    }

label {
    font-size: 0.8em;
}

input { margin-bottom:2px;}*/

/*input,
select,
textarea {
    max-width: 280px;
}*/


input .btn {
    margin: 4px;
    
}
input {
    margin-right:3px;
   
}

.form-control .btn {
    width: 100px;
    margin-right:3px;
}

#search{
    margin-top:6px;
}
.input-group-addon {
    width: 40px;
    margin-right:0px;
}

.input-group {
   
    float:left;
    margin-right:3px;
    margin-top:6px;
     
}
 

 .date-form {
    
    font-size: 0.9em;
    z-index: 10;
    
}

    .date-form input {
        font-size: 0.9em;
        color: brown;
    }


.btn-long {
    width: 250px;
    margin-top:6px;
}

.date-picker {
    width: 80px;
}

#search {
    width: 100px;
    height:34px;
}

.navbar {
    background-color: antiquewhite;

}

.error {
    color: orangered;
    font-weight: bold;
}

#img-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align: center;
    z-index: 1;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.irc_mi {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align: center;
    z-index: 1;
    width: 140px; /* width of the spinner gif */
    height: 140px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.container-fluid{
    padding-left:0px;
    padding-right:0px;
}